<a href="https://colab.research.google.com/github/Ryan-spec/Portfolio-Projects/blob/master/Bitcoin_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bitcoin Price Prediction using Machine Learning and Python

In [2]:
# Import the libraries needed

import pandas as pd
import numpy as np

In [11]:
# Load the data
from google.colab import files
uploaded = files.upload()

Saving datasets_4070_6338_bitcoinP.csv to datasets_4070_6338_bitcoinP.csv

In [12]:
# Store the data into a dataframe and view the first few rows of data
df = pd.read_csv('datasets_4070_6338_bitcoinP.csv')
df.head()

        Date    Close
0   3-Oct-17  4317.48
1   2-Oct-17  4409.32
2   1-Oct-17  4403.74
3  30-Sep-17  4338.71
4  29-Sep-17  4163.07

In [13]:
# Remove the date column
df.drop(['Date'], axis = 1, inplace=True)

In [14]:
df.head()

     Close
0  4317.48
1  4409.32
2  4403.74
3  4338.71
4  4163.07

In [15]:
# Variable for predicting 'n' days into the future
pred_days = 30 # 'n'= pred_days = 30

# Create another column shifted 'n' units up
df['Prediction'] = df[['Close']].shift(-pred_days)

In [16]:
# Show the first 5 rows of the new dataset
df.head()

     Close  Prediction
0  4317.48     4582.96
1  4409.32     4578.77
2  4403.74     4892.01
3  4338.71     4703.39
4  4163.07     4565.30

In [17]:
# Show the last 5 rows 
df.tail()

       Close  Prediction
1615  105.21         NaN
1616  116.99         NaN
1617  139.00         NaN
1618  144.54         NaN
1619  134.21         NaN

In [18]:
# Create the independent dataset

# Convert the dataframe to a numpy array and drop the predictin column
X = np.array(df.drop(['Prediction'], axis=1))

# Remove the last 'n' rows where 'n' is the pred_days
X = X[:len(df)-pred_days]

print(X)

[[4317.48]
 [4409.32]
 [4403.74]
 ...
 [ 128.8 ]
 [ 132.3 ]
 [ 129.  ]]

In [20]:
# Create the dependent dataset

# Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

# Get all the values except the last 'n' rows
y = y[:-pred_days]
print(y)

[4582.96 4578.77 4892.01 ...  139.    144.54  134.21]

In [21]:
# Split the data into 80% training and 20% testing 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
# Set the pred_days_array = to the last 30 rows from the original dataset
pred_days_array = np.array(df.drop(['Prediction'], axis=1))[-pred_days:]
print(pred_days_array)

[[129.75]
 [133.48]
 [131.98]
 [133.2 ]
 [126.7 ]
 [123.89]
 [122.88]
 [122.  ]
 [121.99]
 [123.5 ]
 [123.02]
 [118.76]
 [114.22]
 [111.5 ]
 [117.98]
 [115.  ]
 [115.24]
 [117.2 ]
 [112.67]
 [113.57]
 [111.5 ]
 [112.3 ]
 [115.91]
 [112.5 ]
 [ 97.75]
 [105.21]
 [116.99]
 [139.  ]
 [144.54]
 [134.21]]

In [23]:
# Use SVM to create and train or model

from sklearn.svm import SVR

# Create and train the SVM(Regression) using the Radio Basis Function
svr_rbf = SVR(kernel = 'rbf', C = 1e3, gamma = 0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [24]:
# Test model accuracy

svr_rbf_accuracy = svr_rbf.score(x_test, y_test)
print('svr_rbf accuracy:',svr_rbf_accuracy)

svr_rbf accuracy: 0.8668362484080572

In [26]:
# Print the predicted values 
svm_pred = svr_rbf.predict(x_test)
print(svm_pred)

print()

# Print the actual values
print(y_test)

[ 119.31514524  966.2570781   233.18545374  353.77839805  729.61047313
  683.1520687   106.20432837  380.66894391  574.48194373  103.86378726
  681.42597561  437.77507754  441.86539468  602.35365756  232.18262154
  278.3990199   611.15640248  247.80102002  622.8227039  1020.03494228
 1344.43543739  466.61805621 2251.97988988  609.19722346  997.51470603
  108.35514031  234.13292296  749.22644287  286.08591972  936.2900644
  420.87703978  603.16479806  413.93271641  500.9409265   579.05150396
  242.58419115  399.26053024  613.26098092  379.69567391  242.56297369
 1155.41775328  567.56055069  421.59976514 2149.31509059  239.65952958
  123.11355626  281.16191676  986.92950544  202.51936684  373.31912792
  882.01998284  639.8021766   369.73709083  878.62371075  276.09710512
 1887.07638473  348.64114881  330.22102674  369.32765351  111.23282795
  421.63365302 1709.09878822  581.02646741  365.70811933  446.07085341
  212.34265869  316.39589851  397.77434148  584.3865241   581.80385302
  677.47909534  422.24378719  127.87037483  673.47585865  575.83041588
  241.53299589  534.14783531  340.90581683  697.00845632 2293.73169727
  239.90469608  734.42050358  835.68619364  587.82517292  413.83175913
  375.86126786  690.78161279  642.51649049  119.59259118  219.70469995
  322.81976047  387.82995934  470.12925096  369.65307954 2134.78075802
  618.26209209  811.53369814  122.5710277   913.75145771  275.49538135
 2237.86311367  732.64257942  307.17208915  225.75255581  384.58889644
  598.31336634 2149.52818056  423.29523529  573.58872914  418.40721441
  362.92033874 2172.10741203 4134.63908021  618.54089449  579.72938391
 2138.90355661  617.39720723  338.03678446  682.81164861  118.88485208
  949.87219932  586.21780629  417.54008178  623.06561062  227.36297211
  712.06069237  723.98008229  671.70840668  520.77583157  409.88044799
  215.74401959  623.14824865  602.32294585  585.51864107 1549.30648201
  426.48827104  263.09709678  389.71758197  832.45289147  103.10009727
  332.44846276  521.59289697  654.45464953  290.7674355   452.81311961
  485.82658939  461.15932601  963.52777794  458.56318306  163.15858274
  420.84317225  413.58501843  590.83375582  348.57023533 3760.02610748
  249.61669122  265.87380688  237.96191721  425.7516845   366.07320737
  270.08592794  223.9857236   106.11077844  417.43877282  326.19433125
  415.6168402   220.31921993  617.56054407  421.50940186  624.16153522
  633.07353991  990.5176165   116.30107436  450.14939658  233.15312876
  991.607344    997.18693995  585.16101206  402.07613442  248.65186004
  411.14347938  600.40858867  281.72924544  583.48817398  379.10821835
  237.52338826  498.70226467  887.82761628  354.09516221  653.92960066
  462.66493085  576.02443062  595.37769674  444.91980584  621.35975101
  611.55418613  281.8088386   582.51244337  440.71440453  364.84327723
 2757.23889208  254.72774393  493.97998787 1181.36133534  435.46367005
  233.84237274  216.10778364  805.9836326   106.20432837  961.01393204
 1048.67844611  127.21795163  602.65525403  662.30433516  234.89632266
  593.33861593  822.58923862  375.11864207  919.44586803  666.01133666
 2795.16059408  105.66028007  278.21913249  231.94516444  108.21681382
  581.08990828 1087.88956093  512.09512163  335.09877227  450.46824411
 2082.69757261 2334.40422481 1507.59846086  822.75677438  822.91586071
  334.72107996  678.93001494  595.30676076  423.41965413  605.41900062
 2293.74597959  635.20364975  313.78261968  379.31109065  417.38249411
  118.52160114  601.56294656  189.38608188  224.78240757  438.53824235
  536.21578651  595.93253982  584.52114765  593.39428752  267.22686268
  925.08720894  464.428598    583.11647859  354.1667127   227.2325331
  242.8175319   286.06611986  885.71664016  103.79854466 4098.84948323
  570.66390788  658.61514476  620.6981407   232.26894803  571.8131846
  915.1388451   425.40051233  742.98506809  331.82425206  230.72413746
  220.77981537  439.22177132 2760.88074316  606.27208884  321.21896165
  978.5914995   121.981463    865.27047658  122.76142433  704.89048143
  378.0522905   398.51154248  347.86153211 1980.67761138  244.65972693
  666.57855102  602.76752874  418.46354488  790.95456885  203.34286139
  289.55461861  256.36593882  323.66505625  977.94695815  637.76397961
 2776.27794572  286.87757474  292.79583959  688.79954446 2151.70462357
  779.42507264  262.72861025 1032.00935306  751.75395486  974.49900365
 3507.660577    619.09394349  342.87163806  901.43223146  615.88877422
  587.38738112  617.97855119 1961.67327301]

[ 123.3   204.    230.3   304.62 1151.17  711.52   88.98  457.33  606.27
  128.8   928.1   368.77  435.51  610.86  253.18  269.03  630.23  230.64
  666.65  999.18 1231.71  629.15 2480.84  609.24 1004.55  112.67  229.78
  691.96  227.75 1251.01  438.64  676.3   628.8   495.77  571.59  240.11
  477.89  667.61  408.9   237.47 1176.9   819.03  421.65 1839.09  240.95
  138.34  258.62  892.69  317.84  339.49  823.98  296.41  447.61  907.68
  270.79 1452.82  399.52  367.57  433.44  135.85  410.94 2958.11  635.81
  330.49  323.05  267.8   483.34  507.81  182.21  630.69  729.79  400.57
  134.98  657.07  452.73  239.84  500.46  386.94  705.02 2744.91  233.41
  781.48 1117.44  568.18  376.62  325.75  703.24  619.11  121.15  239.02
  387.88  479.    334.59  243.93 1555.45  623.98  770.81  119.   1143.84
  245.21 2515.35  665.58  245.31  289.59  391.44  447.64 2732.16  380.15
  845.59  437.75  362.3  2478.45 4001.74  449.46  605.42 2705.41  602.63
  135.19  442.68  106.75 1274.99  597.26  352.68  823.83  322.53  177.32
  745.05  454.62  585.69  422.37  294.34  737.23  870.2   666.52 2589.6
  414.06  244.53  422.82  829.45  109.5   247.05  622.21  618.99  219.84
  416.73  546.66  423.73 1272.83  466.09  127.04  145.24  420.79  582.36
  358.42 4193.7   327.92  231.21  253.83  392.15  433.09  244.61  287.72
  131.98  424.95  320.51  373.37  320.19  665.12  420.23  832.58  457.57
  901.54  101.2   458.56  281.08  994.38 1175.83  647.66  238.26  236.43
  511.57  577.36  271.91  616.76  463.62  243.61  585.44  831.53  423.2
  193.76  565.61  651.78  575.63  413.31  860.9   606.97  234.34  649.36
  378.25  434.33 4892.01  222.93  623.9  1187.87  388.95  236.46  261.75
  768.13   76.69 1047.87 1026.43  133.49  457.76  688.31  261.    573.91
  973.5   477.75  899.07  612.13 2809.01  129.    226.97  226.39   96.61
  458.54 1080.5   595.81  330.08  479.64 1490.09 1888.65 1321.79  864.54
  744.59  130.59  703.42  575.47  411.62  811.91 2511.81  604.73  380.56
  442.4   376.03  105.    602.27  134.78  265.68  508.29  622.37  575.54
  650.96  703.7   228.49  902.83  417.18  626.6   435.79  231.4   275.67
  257.06  804.83   99.98 4151.52  655.03  610.89  437.76  225.85  461.45
  895.03  432.52  876.12  482.28  232.88  274.47  495.67 2895.89  608.31
  237.29  229.1   127.11  735.81  113.5   740.98  325.89  387.54  363.26
 2434.55  231.95  678.3   594.15  438.8   735.07  273.61  229.71  226.43
  368.37 1038.15  454.16 3419.94  346.37  126.   1043.33 2601.64  420.2
  292.05 1042.9   893.19 1255.15 2273.43  596.3   411.57  902.2   596.12
  581.14  440.17 4181.93]

In [27]:
# Print the model for the next 'n=30' days
svm_pred = svr_rbf.predict(pred_days_array)
print(svm_pred)

[121.28006913 124.12118424 122.96016937 123.90261377 119.07475654
 117.14210902 116.47157675 115.89801293 115.89155279 116.88165279
 116.5637452  113.87415494 111.28125059 109.87071705 113.40809976
 111.70585116 111.83826944 112.95045868 110.46395131 110.93419785
 109.87071705 110.27412401 112.21231521 110.37647914 104.54144309
 107.04524239 112.82869779 128.59593054 133.38162204 124.6949624 ]

In [28]:
# Print the actual values for the last 30 days
print (df.tail(pred_days))

       Close  Prediction
1590  129.75         NaN
1591  133.48         NaN
1592  131.98         NaN
1593  133.20         NaN
1594  126.70         NaN
1595  123.89         NaN
1596  122.88         NaN
1597  122.00         NaN
1598  121.99         NaN
1599  123.50         NaN
1600  123.02         NaN
1601  118.76         NaN
1602  114.22         NaN
1603  111.50         NaN
1604  117.98         NaN
1605  115.00         NaN
1606  115.24         NaN
1607  117.20         NaN
1608  112.67         NaN
1609  113.57         NaN
1610  111.50         NaN
1611  112.30         NaN
1612  115.91         NaN
1613  112.50         NaN
1614   97.75         NaN
1615  105.21         NaN
1616  116.99         NaN
1617  139.00         NaN
1618  144.54         NaN
1619  134.21         NaN

### Our model has in fact proven to be 86% accurate as can be seen above.